<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>QuickType</title>
</head>
<body>
    <div class="time"></div>

    <div class="wrapper">
        <div class="words"></div>
    </div>
    <div class="score"></div>
    <a href="/test" class = "restart-button">
        <div class="restart-button">Restart</div>
    </a>

    <script>
        let randomWords = '<%= randomWords %>';
    </script>
    <script src="script2.js"></script>
</body>
</html>