@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    font-family: "Inter", 'sans-serif';
    font-size: large;
}

body{
    background-color: antiquewhite;
    /* background-color: rgb(209, 195, 228); */
    /* background-color: rgb(83, 79, 79); */
    /* color: rgb(51, 50, 51); */
    color: black;
}

.overlay{
    position: absolute;
    top: 150px;
    background-color: #DDBC91;
    box-shadow: 4px 4px 20px 5px;
    /* opacity: 0.3; */
    margin: 0 25% auto 25%;
    width: 50%;
    height: 50%;
    z-index: 1000;
}

.overlay-header{
    text-align: center;
    font-size: larger;
}

.txt-settings{
    font-size: larger;
    font-weight:400;
}

#btn-settings-close{
    display: inline;
    float: right;
}


.logo{
    display: inline-block;
}

.btn-login {
    display: inline;
    float: right;
    width: 100px;
    height: 60px;
}

.wrapper{
    /* align-items: center; */
    margin: 70px 0 0 0;
    text-align: center;
}

.words {
    /* text-shadow: 0 0 8px black; */
    width: 800px;
    /* color: transparent; */
    margin: auto;
}

.correct{
    color: green;
}

.wrong {
    color: red
}

.current-word{
    font-size: x-large;
}

.time{
    width: 120px;
    height: 70px;
}

.score{
    width: 100px;
    height: 60px;
    padding: 10px 0 10px 0;
    text-align: center;
}

a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

a.restart-button {
    width: 100px;
    height: 28px;
    margin: 30px;
    padding: 10px 0 10px 0;
    text-align: center;
    border: solid 2px black;
    border-radius: 5px;
}

a:hover{
    background-color: #DDBC91;
}

.btn{
    display: inline-block;
    text-decoration: none;
    background-color: antiquewhite;
    color: black;
}

.btn:hover{
    background-color: #DDBC91;
}